#controlPanel {
  padding: 1rem;
}

#statusPanel {
  margin: auto;
  text-align: center;
  font-size: 200%;
  padding: 1rem;
}

#map {
  margin: auto;
  width: 90%;
  height: 80vh;
}

#value {
  color: rgb(255, 0, 0);
}
